{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
{% include img.html %}
{{ content }}

// <a href="#Slashes">Slashes</a> / <a href="#Data">Data</a> / <a href="#Archives">Archives</a> / <a href="#Tags">Tags</a>


<h2 id="Slashes">Slash Pages</h2>

<p>Here is my take with a few additional items that might catch on.</p>

<nav id="submenu" aria-label="submenu of slash pages">
    <ul>
        {% assign sorted_navigation_slashes = site.navigation_slashes | sort:
        'title' %} {% for item in sorted_navigation_slashes %}
        <li>// <a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
</nav>

<h2 id="Data">Data Pages</h2>

<p>Pages focused on showing data, either incoming feeds from other services, or local data sources made available.</p>

<nav id="datamenu" aria-label="submenu of data items">
    <ul>
        {% assign sorted_navigation_data = site.navigation_data | sort:
        'title' %} {% for dataitems in sorted_navigation_data %}
        <li>// <a href="{{dataitems.link}}">{{dataitems.title}}</a></li>
        {% endfor %}
    </ul>
</nav>

<h2 id="Archives">Archives </h2>

<p>Post archives by type.</p>

<nav id="archivemenu" aria-label="submenu of post type items">
    <ul>
        {% assign sorted_nav_archives = site.navigation_archives | sort: 'title' %}
        {% for item in sorted_nav_archives %}
        <li>// <a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
</nav>

<h2>Tags</h2>
<p>Tags are used sparingly throughout the site to categorize content, mostly to separate
    different periods of time when a certain topic was more prevalent.</p>
{% assign sorted_tags = site.tags | sort %}
<ul>
    {% for tag in sorted_tags %}
    {% assign tag_name = tag[0] %}
    {% assign tag_posts = tag[1] %}
    <li><a href="/tag/{{ tag_name }}">{{ tag_name | capitalize }}</a> ({{ tag_posts | size }})</li>
    {% endfor %}
</ul>


{% include footer.html %}
